// colors

$navBackground: #2c2c2c;

$contactsSection: white;

$welcomeSection: #df173f;
// $welcomeSection:#a33a47;

$skillSection: rgba(45, 46, 45, 0.938);

$skillNameBg: rgba(45, 46, 45, 0.938);
$skillBg: $skillSection;
$skillBgHover: white;
$skillSectionHover: rgba(45, 46, 45, 0.938);

$projectSection: #3d99c7;
// $projectSection:#689eb8;
$projectBg: #689eb8;
$projectName: $projectBg;

$aboutSection: $skillSection;

$footer: rgb(25, 185, 92);
